{% load static %}
{% include 'header.html' %}
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-5 text-black">Doctor Request</h2>
          </div>
          <div class="col-md-12">
     <table class="table table-bordered" width="100%">
						<tr>
						<th>Name</th>
						<th>Generic Name</th>
						<th>Dosage</th>
						<th>Form</th>
						<th>Manufature</th>
						<th>Doctor Name</th>
						<th>Add</th>
					
						</tr>
						{% for i in result %}
						
						<tr>
						<td>{{i.name}}</td>
						<td>{{i.genericname}}</td>
						<td>{{i.dosage}}</td>
						<td>{{i.form}}</td>
						<td>{{i.manufature}}</td>
						<td>{{i.did}}</td>
						<td><a href="{% url 'addpro' id=i.id %}" class='btn btn-primary'>Add</a></td>
						
						</tr>
						{% endfor %}
						</table>
          </div>
          
        </div>
      </div>
    </div>



  


{% include 'footer.html' %}


